* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #3a3a3a;
}

.header-section {
  width: 85%;
  margin: 80px auto;
}

/* Nav Section */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menubar {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav-section h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-menubar a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

/* Banner Section */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  margin-top: 60px;
}
.banner-section h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4.4rem;
}

.banner-section p {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
}

.banner-button {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner-section button {
  text-align: center;
  font-size: 1rem;
  font-weight: 700px;
  border: none;
  background: #e02c6d;
  border-radius: 40px;
  padding: 5px 20px;
}
.banner-section i {
  color: white;
}
.banner-image {
  text-align: center;
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 30px 0;
}
.banner-image img {
  width: 100%;
}

/* Icon Section */
.icon-section {
  width: 80%;
  margin: 10px auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.icon-list1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.popular-section {
  width: 70%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
.popular-cart {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgb(212, 212, 212);
}
.popular-cart img {
  width: 100%;
}
.popular-cart h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.popular-cart h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.popular-cart i {
  color: #fb8200;
}
.popular-cart span {
  margin-left: 10px;
}
.popular-cart h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.popular-cart p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #787885;
}

@media screen and (max-width: 576px) {
  .nav-section,
  .nav-menubar,
  .icon-section {
    flex-direction: column;
  }
  .banner-section {
    gap: 50px;
    margin-top: 20px;
    flex-direction: column-reverse;
    background-position: top;
    text-align: center;
  }
  .banner-section button {
    margin: 0 auto;
  }
  .icon-list1 {
    width: 100%;
  }
  .popular-section {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  .icon-section {
    flex-direction: column;
  }
  .icon-list1 {
    width: 100%;
  }
  .nav-section {
    flex-direction: column;
    gap: 20px;
  }
  .banner-section {
    gap: 20px;
    margin-top: 20px;
  }
  .popular-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .popular-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
